body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono;
}

body {
    height: 100vh;
    background-image: linear-gradient(135deg, #8052ec, #d161ff);
}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display : flex;
    flex-wrap: wrap;
    gap: 2vmin;
}
.button-option{
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#restart{
    font-size: 1.3em;
    display: block;
    padding: .8em;
    border-radius: 10px;
    border: none;
    background-color: #0a0027;
    color: #ffffff;
    position: relative;
    margin-right: 5px;
    width: 50%;
}
.popup{
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display : flex;
    justify-content:center;
    align-items:center;
    z-index: 2;
    flex-direction: column;
    gap: .7em;
    font-size: 8vmin;
}
#new-game{
    font-size: 0.6em;
    padding: 0.5em .6em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 10px;
    border: none;
   
}
#message{
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}
.popup.hide{
    display: none;
}
.res{
    display : flex;
    justify-content:space-between;
    align-items:center;
    margin: 1.3rem;
   
}
.turnVal{
    font-size:20px;

    display: block;
    padding: 2px;
    border-radius: 10px;
    border: none;
    background-color: #40cee0;
    color: #ffffff;
    position: relative;
    text-align: center;
    width: 50%;
    margin: 5px;
} 
#turn{
    color: crimson;
    font-weight: bolder;
    font-size: 25px;
   
}